@font-face {
  font-family: "Flexo-Regular";
  src: url("./Flexo-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Flexo-Medium";
  src: url("./Flexo-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
